In [7]:
import scraping_class
import requests
import pandas as pd
import json

logfile = 'log.csv'## name your log file.
connector = scraping_class.Connector(logfile)

In [12]:
#Giver første side:
#response = requests.get('https://api.boliga.dk/api/v2/search/results?pageSize=50&includeds=1')
#response_json = response.json()
#df1 = pd.DataFrame(response_json['results'])
#df1

In [11]:
#Giver alle sider:
def read_json_houses(index):
    urlbase = 'https://api.boliga.dk/api/v2/search/results?pageSize=50&includeds='
    url = urlbase + str(index)
    response = requests.get(url)
    response_json = response.json()
    return response_json

pages = []
for i in range(1, 1042):
    pages.append(read_json_houses(i))
    
#df_houses.to_csv('houses.csv', index=False, sep=';')

df_houses = pd.DataFrame(pages)

In [9]:
print(df_houses)

                                                   meta  \
0     {'searchGuid': '9522ccfb-c3ad-4750-8881-79d322...
1     {'searchGuid': '3d9a9da2-d001-4a1e-9004-8ce8b5...
2     {'searchGuid': '5519e204-caf2-482e-a92e-717446...
3     {'searchGuid': '492f298b-3e1e-4ec2-9424-505705...
4     {'searchGuid': '22d76f00-edc8-4a9c-b45b-17a76b...
...                                                 ...
1036  {'searchGuid': 'd590859c-a379-4524-910c-e3f16c...
1037  {'searchGuid': '008e1968-7b53-456d-ac44-715276...
1038  {'searchGuid': '5bef841b-e2ed-4b47-a307-b5e8e4...
1039  {'searchGuid': 'aa52c4d4-b1c5-49d8-8e2f-616fb2...
1040  {'searchGuid': '5aa901d0-4e8a-4125-bb96-e3a5e5...

                                                results
0     [{'id': 1676546, 'latitude': 55.68044, 'longit...
1     [{'id': 1676546, 'latitude': 55.68044, 'longit...
2     [{'id': 1676546, 'latitude': 55.68044, 'longit...
3     [{'id': 1676546, 'latitude': 55.68044, 'longit...
4     [{'id': 1676546, 'latitude': 55.68044, 'longit...
...                                                 ...
1036  [{'id': 1676546, 'latitude': 55.68044, 'longit...
1037  [{'id': 1676546, 'latitude': 55.68044, 'longit...
1038  [{'id': 1676546, 'latitude': 55.68044, 'longit...
1039  [{'id': 1676546, 'latitude': 55.68044, 'longit...
1040  [{'id': 1676546, 'latitude': 55.68044, 'longit...

[1041 rows x 2 columns]

In [5]:
import pandas as pd
df_houses_results = pd.DataFrame(df_houses['results'])
df_houses_results

                                                results
0     [{'id': 1676546, 'latitude': 55.68044, 'longit...
1     [{'id': 1676546, 'latitude': 55.68044, 'longit...
2     [{'id': 1676546, 'latitude': 55.68044, 'longit...
3     [{'id': 1676546, 'latitude': 55.68044, 'longit...
4     [{'id': 1676546, 'latitude': 55.68044, 'longit...
...                                                 ...
1036  [{'id': 1676546, 'latitude': 55.68044, 'longit...
1037  [{'id': 1676546, 'latitude': 55.68044, 'longit...
1038  [{'id': 1676546, 'latitude': 55.68044, 'longit...
1039  [{'id': 1676546, 'latitude': 55.68044, 'longit...
1040  [{'id': 1676546, 'latitude': 55.68044, 'longit...

[1041 rows x 1 columns]

In [6]:
import json

r = df_houses_results
r = json.dumps(r)
loaded_r = json.loads(r)
#loaded_r['rating'] #Output 3.5
type(r) #Output str
type(loaded_r) #Output dict

TypeError: Object of type DataFrame is not JSON serializable